<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>
        {% block titulo %} 
        Pagina Inicial
        {% endblock %}
    </title>
</head>


<body>
    
    <h1>Fake Pinterest</h1>

    {% block form %}
    <form method="POST">
        {{ form.csrf_token }}
        {{ form.email.label() }} {{ form.email(size=32) }}<br><br>
        {{ form.senha.label() }} {{ form.senha(size=32) }}<br><br>
        {{ form.botao_confirm() }}
    </form>
    {% endblock %}
    <br>
    <a href="{{ url_for('create_account') }}">Criar Conta</a>
</body>

</html>