<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>

<body>
    <nav>
        <a href="{{ url_for('feedpage')}}">Feed</a>
        <a href="{{ url_for('logout')}}">Sair da conta</a>
    </nav>
    
   
    <h1>Perfil: {{ username.username }}</h1>

    {% if form %}
        <form method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ form.foto() }}<br><br>
            {{ form.botao_confirm() }}
        </form><br>
    {% endif %}

   
    {% for foto in username.fotos %}
        <img src="{{ url_for('static', filename='fotos_posts/{}'.format(foto.imagem)) }}" alt="">
    {% endfor %}
    <br>
    
</body>  
</html>
